/* ========================
     my RESET
=========================== */
a {
   color: inherit;
   text-decoration: none;
}

/* bootstrap reset */
.form-control:focus {
   box-shadow: none;
   border: 2px solid green;
}
